<div class="">

    <div class="sidenav">
        <nav>
        <ul>
          <a href="#about_me"><li>About Me</li></a>
          <a href="#work"><li>Work</li></a>
          <a href="#contact_me"><li>Contact Me</li></a>
        </ul>
      </nav>
</div>
