<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Build-a-Band</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!-- google fonts --}}
  {{!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> --}}
  <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
  {{!-- animate css --}}
  {{!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet"
    integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous"> --}}
  {{!-- Bulma - because Materialize was giving us problems --}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link href="../css/style.css" rel="stylesheet" type="text/css" media="screen">
<<<<<<< HEAD
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/geolocator/2.1.3/geolocator.min.js"></script> --}}
=======
 <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script> 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/geolocator/2.1.3/geolocator.min.js"></script>
>>>>>>> 2707a9fbd7b479499a6bf4f8d126f527301181a9


</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
<<<<<<< HEAD
      <!-- Bulma Navbar -->
      <head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"> </head>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img "img-logo" src="/img/Build-a-Band_logo.png" alt="Build-a-Band" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{!-- {{#if logged_in}}
        <a class="signup" href="/dashboard">profile</a> |
        <button class="no-button" id="logout">logout</button> --}}
            {{!-- {{#if logged_in}} --}}
        <a class="button is-light" href="/login-signup">Log In</a>
        </div>
      </div>
    </div>
  </div>
</nav>
=======
      <nav>
        <div class="logo">
        <a href="/"><img class="img-logo" src="/img/Build-a-Band_logo.png" alt="Build-a-Band"></a>
      </div>
      {{!-- <h5>
        <a href="/">Build-a-Band</a> ------ I dont think we need this
      </h5> --}}
        <!-- Conditionally render login or logout links -->

        {{#if logged_in}}
        <a class="signup" href="/dashboard">Profile</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a class="login" href="/login-signup">Login</a>
        {{/if}}
      </nav>
>>>>>>> 2707a9fbd7b479499a6bf4f8d126f527301181a9
    </header>

        {{{ body }}}
  </div>
        {{#if logged_in}}
          <script src="/js/logout.js"></script>
        {{/if}}
      
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!--Not sure I will be using a JQuery. . . but for now. -->
<<<<<<< HEAD
  {{!-- <script src="https://unpkg.com/popper.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/geolocator/2.1.3/geolocator.min.js"></script> --}}
  <!--Zip code  -->
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> <!-- Icons -->
  <script src="/js/search.js"></script>
  <script src="/js/geolocator.js"></script> --}}
=======
  <script src="https://unpkg.com/popper.js"></script>
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/geolocator/2.1.3/geolocator.min.js"></script> --}}
  <!--Zip code  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> <!-- Icons -->
  {{!-- <script src="/js/search.js"></script>
  <script src="/js/geolocator.js"></script>
>>>>>>> 2707a9fbd7b479499a6bf4f8d126f527301181a9
  <!--Zip code  -->
  <script src="/js/userPosts.js"></script> --}}

</body>

</html>