<section class="section"> <div class="columns"> 
  <div class="container">
  <div class="user-dashboard">
   <div class="is-hidden-mobile">
      <div>
         <div class="columns is-mobile">
            <div class="column is-1"></div>
            <div class="column">
              <p class="subtitle">ISO Band/User</p>
               <div class="image is-1by1 sui-avatar"><img src="https://jesuswired.com/wp-content/uploads/2020/11/127012343_10157925614430669_6957727070722632912_o.jpg" class="is-rounded"></div>
            </div>
            <div class="column is-1"></div>
            <div class="column is-two-thirds content">
              <h5>Location: </h5>
              <h5>Genre: </h5>
              <h5>Desired Position: </h5>
              <h5>Experience: </h5>
              <h5>Availability: </h5>
              <h5>Schedule: </h5>
              <h5>ISO Band/User: </h5>
            </div>
         </div>
      </div>
     
   </div>
  
   <div class="is-hidden-tablet">
      <div>
         <div class="columns is-mobile">
            <div class="column">
               <div class="image is-1by1 sui-avatar"><img src="https://jesuswired.com/wp-content/uploads/2020/11/127012343_10157925614430669_6957727070722632912_o.jpg"></div>
            </div>
         </div>
         <div class="column is-1"></div>
            <div class="column is-two-thirds content">
              <h5>Location: </h5>
              <h5>Genre: </h5>
              <h5>Desired Position: </h5>
              <h5>Experience: </h5>
              <h5>Availability: </h5>
              <h5>Schedule: </h5>
              <h5>ISO Band/User: </h5>
            </div>
         </div>
      </div>
   </div>
  <div class="tags"><h5>Keywords/Tags/Categories</h5>
</div>
  </div>
</div> </section>
