  <div class="main-content">
    <div class="flex-container">
      <div class="flex-child">
         <!--img-banner - class name of img container-->
               <h5>36 Artists ISO Bands</h5>
      </div>
  
      <div class="flex-child">
        <!--img-banner - class name of img container-->
               <h5>36 Bands ISO Musicians</h5>
      </div>
    </div>
    <div class="create-acc-txt">
      <a href="/login-signup"><strong>Create an account</strong></a> now to start searching!
    </div>
  </div>
