{{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}}

<div class="row align-center mb-5">
    <div class="col-md-6">
        <p>25 Artists<br>
        looking for Bands</p>
    </div>
    <div class="col-md-6">
        <p>5 Bands<br>
        looking for Artists</p>
    </div>
</div>
<div class="row align-center mb-5">
    <div class="col-md-12">
        <a href="/login-signup"><strong>Create an account</strong></a> now to start searching!
    </div>
</div>
