<div class="row">
  <div class="column home-page">
    <img class="img-banner" src="https://source.unsplash.com/random/200x200?sig=1" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img  class="img-banner" src="https://source.unsplash.com/random/200x200?sig=2" alt="Forest" style="width:100%">
  </div> <br>
  <h4>
      <a href="/login-signup"><strong>Create An account</strong></a> now to start searching!
  </h4>
</div>
