<div class="row">
<div class="main-content">
<div class="flex-container">
<nav class="sidenav">
  <ul>
    <li><a href="#about">About</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#clients">Clients</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
  <div class="flex-child">
    <img class="img-banner" src="https://source.unsplash.com/random/200x200?sig=1" alt="Snow" style="width:100%">
  </div>
  
  <div class="flex-child">
    <img  class="img-banner" src="https://source.unsplash.com/random/200x200?sig=2" alt="Forest" style="width:100%">
  </div>
  <h4 class="create-acc-txt">
      <a href="/login-signup"><strong>Create An account</strong></a> now to start searching!
  </h4>
</div>
</div>
</div>

