  <div class="main-content">
    <div class="flex-container">
      <div class="flex-child">
        <img class="img-banner" src="https://source.unsplash.com/random/200x200?sig=1" alt="Snow" style="width:100%">
      </div>
  
      <div class="flex-child">
        <img  class="img-banner" src="https://source.unsplash.com/random/200x200?sig=2" alt="Forest" style="width:100%">
      </div>
    </div>
    <div class="create-acc-txt">
      <a href="/login-signup"><strong>Create an account</strong></a> now to start searching!
    </div>
  </div>
