<div class="row">
<div class="main-content">
<div class="flex-container">
<nav class="sidenav">
  <ul>
    <form>
      <!--Search band name -->
  <label for="band">Search Band</label>
  <input type="text" id="band" name="band">

  <!--Search band name -->
  <label for="username">Search User</label>
  <input type="text" id="username" name="username">

  <!--Search band name -->
  <label for="zipcode">Search ZipCode</label>
  <input type="text" id="zipcode" name="zipcode">
</form>
</nav>
  <div class="flex-child">
    <img class="img-banner" src="https://source.unsplash.com/random/200x200?sig=1" alt="Snow" style="width:100%">
  </div>
  
  <div class="flex-child">
    <img  class="img-banner" src="https://source.unsplash.com/random/200x200?sig=2" alt="Forest" style="width:100%">
  </div>
</div>
<h4 class="create-acc-txt">
      <a href="/login-signup"><strong>Create An account</strong></a> now to start searching!
  </h4>
</div>
</div>

