<div id="side-nav" class="col m3">
        <h5>Filter Posts</h5>
        <hr>
        <form>
            <h6>Location:</h6>
            <input class="side-nav-location" type="text" placeholder="Zip Code">
            <h6>Search Bands:</h6>
            <div class="select-wrapper"><input class="select-dropdown dropdown-trigger" type="text" readonly="true" data-target="select-options-1f8b3c3e-3cc1-8bc4-c014-8e776575834f"><ul id="select-options-1f8b3c3e-3cc1-8bc4-c014-8e776575834f" class="dropdown-content select-dropdown" tabindex="0"><li class="disabled selected" id="select-options-1f8b3c3e-3cc1-8bc4-c014-8e776575834f0" tabindex="0"><span>Topics</span></li><li id="select-options-1f8b3c3e-3cc1-8bc4-c014-8e776575834f1" tabindex="0"><span>Sports</span></li><li id="select-options-1f8b3c3e-3cc1-8bc4-c014-8e776575834f2" tabindex="0"><span>Movies</span></li><li id="select-options-1f8b3c3e-3cc1-8bc4-c014-8e776575834f3" tabindex="0"><span>Food</span></li></ul><svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg><select class="topic-filter" tabindex="-1">
                <option value="" disabled="" selected="">Topics</option>
                <option value="1">Generes</option>
                <option value="2">Zipcodes</option>
                <option value="3">Position</option>
            </select></div>
    
            <!-- SEARCH BOX -->
            <h6>Search Usernames:</h6>
            <div class="search-div">
                <input class="search-text" type="text" placeholder="Filter User Names">
                <ul class="userNameList"></ul>
            </div>
        </form>
        <button class="btn waves-effect waves-light filter-search" id="side-search" <!--="" name="action" --="">&gt;Search</button>
    </div>