/* * {

}

body {

}

section {

} */

ul li {
  list-style: none;
}
header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }
  
  .img-logo {
    height: 150px;
    margin: 0 auto;
  }
  
/* .login, .signup {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
} */

.main-nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

/* .row {
  justify-content: space-around;
  align-items: space;
} */

.login-form, .signup-form {
  width: 25vw;
}

.login {
  background-color: transparent; /* Green */
  border: 1px solid #ffffff;
  color: white;
  padding: 8px 8px;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  right: 0;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
}  

.flex-child:first-child {
  margin-right: 20px;
}

.create-acc-txt {
  text-align:center;
  font-size: 24px;
  /* margin-right: -20px; ***** New code after pull, not sure if we need it, will comment out so it doesn't affect mine.*/ 
}

/* Side nav & Home Page content*/
nav.sidenav {
  height: 100%;
  width: 300px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(233, 233, 233);
  overflow-x: hidden;
  padding: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #000;
}

input {
  width: 100%;
}

footer {
  height: 250px;
  width: 100%;
  text-align: center;
  background-color: #065b83;
  color: #ffffff;
  padding-top: 20px;
  margin-top: 10px;
}

/* nav a {
  text-decoration: none;
  margin-right: 2.5%;
  margin-left: 2.5%;
  font-size: 20px;
  cursor: pointer;
} */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}}